fastapi
uvicorn[standard]
python-dotenv
requests
boto3
requests
sqlalchemy
asyncmy  # or aiomysql, depending on your MySQL driver
openai
numpy
ffmpeg-python
librosa
torch
panns_inference
panns-inference